
$colors: (
    blush: "#E7C7BF",
    flamingo: "#DA9993",
    pine: "#4D5C58",
    moss-green: "#ADB29E",
    dim-gray: "#636363",
    regal-blue: "#1A4263",
)

// $zcoolXiaoWei: "ZCOOL XiaoWei";
// $montserrat: "Montserrat";
// $montserratLight: "Montserrat Light";
// $monsterratBoldFlamingo: "Montserrat bold flamingo";
// $monsterratMediumCream: "Montserrat medium cream";

